/* CSS Document */
body{padding:0; margin:0; font-family:Arial, Helvetica, sans-serif;}
.header{ background:url(../images/Header_Background.jpg) repeat-x; height:100px;}
.header_top_section{ width:867px; margin:0 auto;}
.logo{padding:6px 0 0 15px; width:300px; float:left;}
.login_logout_section{ float:right; padding:30px 0 0 0;}
.login_logout_section img{ border:none;}
.clear{ clear:both;}
.top_nav_section{ background:url(../images/MainNav_Background.gif) repeat-x; height:53px;}
.top_nav_links{ width:867px; margin:0 auto;}
.top_nav_links ul{ padding:16px 0 0 0; margin:0 0 0 0;}
.top_nav_links ul li{ padding:0 0 0 0; margin:0 0 0 0; display:inline;}
.top_nav_links ul li a{ padding:0 15px 0 15px; margin:0 0 0 0; text-decoration:none; color:#333333; font-size:12px; font-weight:bold; border-right:solid 1px #fff;}
.top_nav_links ul li a:hover{text-decoration:none; color:#5b81a6;}
.top_nav_links ul li a.selected{text-decoration:underline; color:#5b81a6;}
.wrapper{ width:867px; margin:0 auto;}
.banner{padding:10px 0 10px 0;}
.container_main{
width:867px;
margin:0 auto;
}
input.calBtn, button.calBtn {
background:url("../images/ico_cal.gif") no-repeat scroll 0 0 transparent;
border:0 none;
cursor:pointer;
height:18px;
margin-left:2px;
margin-top:2px;
padding:10px;
position:absolute;_position:fixed;
width:20px;
}
.red {color:#F00;font-size:11px;}
.top_slogan{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; float:right; margin:37px 0 0 0; border:solid 1px #5a80a5; padding:5px; background-color:#335280; background:url(../images/top_slogan_bg.gif) repeat-x; font-weight:bold;}
.new_container{
width:867px;
float:left;
}
.heading_container{
width:867px;
float:left;
}
.heading_container_left{
background-image:url(../images/container_leftbg.png);
background-repeat:no-repeat;
width:21px;
height:67px;
float:left;
}
.heading_container_right{
background-image:url(../images/container_rightbg.png);
background-repeat:no-repeat;
width:21px;
height:67px;
float:right;
}
.heading_containerbg{
background-image:url(../images/container_topbg.gif);
background-repeat:repeat-x;
height:67px;
float:left;
width:825px;
}
.form_inside_section{
float:left;
width:865px;
border-left:solid 1px #b4b1b1;
border-right:solid 1px #b4b1b1;
background-image:url(../images/main_containerbg.gif);
background-repeat:repeat-x;
background-color:#eaeae9;
}
.page_heading{
float:left;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
font-size:18px;
color:#ffffff;
padding:8px 0 0 0;
}
.clear{
clear:both;
}
.container_bottombg{
background-image:url(../images/container_bottombg.gif);
background-repeat:no-repeat;
width:867px;
height:32px;
float:left;
}
.bodyContent {margin:0 auto;width:843px; min-height:200px;
height:auto!important; height:200px;}
.error_msg{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
float:left;
clear:both;
}
ul.error_list{margin:0; padding:0;}
ul.error_list li{list-style-position: outside; list-style-type: none; color:#FF0000; font-family:Arial, Helvetica, sans-serif; font-size:11px;}

.body_text{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#555555;
float:left;
}
.border_top{
border-top:solid 1px #D0CECE;
padding-top:10px;
width:843px;
}
.dlForm {
/*display:block;*/
/*position:relative;*/
/*z-index:0;*/
}
.dlForm fieldset {
display:block;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
margin-top:15px;
padding-bottom:15px;
padding-left:0;
padding-right:0;
padding-top:0;
position:relative;
border:solid 1px #cccccc;
}
.dlForm legend, .dlForm .legend {
color:#555555;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}
.dlForm dl {
clear:both;
display:block;
float:none;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
min-height:20px;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:10px;
position:relative;
width:auto;
z-index:0;
}
.dlForm dt {
clear:left;
display:block;
float:left;
margin-bottom:5px;
margin-left:0;
margin-right:10px;
margin-top:0;
width:25%;
}
.dlForm dt label, .dlForm dt .label {
display:block;
font-weight:normal;
line-height:18px;
padding-left:5px;
padding-right:5px;
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
.dlForm dd {
display:block;
float:left;
line-height:18px;
margin-bottom:0;
margin-left:0;
margin-right:5px;
margin-top:0;
}
.dlForm dd input{
width:200px;
}
.dlForm dd select{
width:200px;
}
#db_width select{
width:auto;
}
.btnArea{ background:url(../images/btn.gif) repeat-x; height:25px; border:solid 1px #000; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; cursor:pointer;}
.footer{ background:url(../images/footer_bg.gif) repeat-x; height:52px; margin:5px 0 0 0;}
.footer_wrapper{ width:867px; margin:0 auto;}
.copyright{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; padding:20px 0 0 0; float:left; width:500px;}
.body_text{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; float:left; line-height:18px;}
.footer_links{ float:right;}
.footer_links ul{ padding:16px 0 0 0; margin:0;}
.footer_links ul li{ padding:0; margin:0; display:inline;}
.footer_links ul li a{ padding:0 5px 0 5px; margin:0; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.footer_links ul li a:hover{color:#000; text-decoration:none;}
.blue_link{ color:#304f7d;}
.passport_visa_img{ float:left;}
.introductory_content{ float:left; width:850px;}
.intro_text{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#555555;
float:left;
width:668px;
}
.fontsize_big{ font-size:20px;}
.process_first{ width:247px; float:left; margin:10px 30px 10px 0; display:inline;}
.process_top{ background:url(../images/step_process_top.gif) no-repeat; width:247px; height:13px; float:left;}
.process_bottom{ background:url(../images/step_process_bottom.gif) no-repeat; width:247px; height:13px; float:left;}
.process_bg{ background:url(../images/step_process_bg.gif) repeat-y; width:247px; float:left; min-height:160px; height:auto!important; height:160px;}
.steps{background:url(../images/step_bg.gif) no-repeat; width:57px; height:57px; float:right; padding:0 0 0 35px; font-size:22px; color:#0878ac; font-weight:bold;}
.step_name{ font-family:Arial, Helvetica, sans-serif; font-size:36px; font-weight:bold; color:#98c4da; float:left; padding:10px 0 0 35px;}
.numbering{ float:left; position:relative; right:12px; top:16px;}
.step_text{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; float:left; padding:10px 0 0 15px;}
.bg_highlight{ background-color:#fff; padding:5px; color:#333; border:solid 1px #CCCCCC;}
.process_name{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; font-weight:bold; float:left; padding:10px 0 0 15px;}
.text_area{ width:200px; height:65px;}
.green_highlight{ text-align:center; background-color:#009933; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; width:400px; margin:0 auto; padding:10px;}
.login_form tbody tr th label{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; text-align:left!important; float:left; font-weight:normal;}
.anchor_link{ color:#304f7d; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:underline;}
.login_form tbody tr td input[type=text]{ width:150px;}
.login_form tbody tr td input[type=password]{ width:150px;}
/*GRID CSS ADDED*/
.data_grid{ font-family:Arial, Helvetica, sans-serif; border:solid 1px #b5b5b5; border-right:none;}
.data_grid tr th{ font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; border-right:solid 1px #b5b5b5; background-color:#e8eee7; text-align:left;}
.data_grid tr td{ font-size:12px; padding:5px; border-top:solid 1px #C4C4C4; border-right:solid 1px #C4C4C4; }
.data_grid tr.odd{ background-color:#E7F9E4;}
.data_grid tr.even{ background-color:#ffffff;}
.data_grid tr.odd:hover{ background:#b8dcb2; color:#ffffff;}
.data_grid tr.even:hover{ background:#b8dcb2; color:#ffffff;}
.alertBox {background-color:#FFC;border:1px solid #FC3;color:#F60;margin:0px auto;clear:both;padding:4px;text-align:center;font-size:16px;font-weight:bold}

.adminlogin
{
 color:#CC9900;
 border-style:solid; 
 border-color:#000 #000; 
 width:60px; 
 height:120px; 
 margin-top:40px;
}
.adminadduser
{
font-family:Arial, Helvetica, sans-serif;
color:#6495ED;
border-style:solid; 
border-color:#6495ED; 
border-style:solid; border-width:1px;
width:85%;
margin-top:1px;
	
}




