/*table {border-spacing:0px;border-collapse:collapse;border-top:1px solid #cccccc;border-right:1px solid #cccccc;background-color:#fff;}
table tr td {border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;}
table th {border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;text-align:right;background-color:#EDEDED;}*/
.blbar {background: #dedede url(../images/blBg.gif) repeat-x left top;color:#333;font-weight:bold;}
.txtBold {font-weight:bold;}
.txtRight {text-align:right;}
.bigTxt {font-size:18px;}
.blTxt {color:#336600;background-color:#EFFFEF;}
.txtBl {color:#00345A;}
.tr_bgcolor{ background-color:#304f7d!important; color:#ffffff!important;}
.inside_table{ border:solid 1px #cccccc;}